a {
  text-decoration: none;
}
.allFriendsContainer {
  width: 550px;
  height: 100vh;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}
.friendsTopNavigation {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dce1e6;
  height: 55px;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  justify-content: space-between;
  background-color: #fafbfc;
  border-radius: 4px 4px 0 0;
}

.allFriends > p > span {
  color: #626d7a;
  font-size: 13px;
  margin-left: 7px;
}
.findFriends > button {
  background-color: #5181b8;
  color: white;
  border: none;
  padding: 0 16px;
  height: 26px;
  border-radius: 5px;
  font-size: 13px;
}

.friendsTopSearch {
  width: 100%;
  border-bottom: 1px solid #dce1e6;
}
.friendsTopSearch > input {
  width: 100%;
  padding: 14px 140px 14px 28px;
  /* padding-left: 28px;
  padding-right: 140px; */
  width: 326px;
  border: none;
  outline: none;
}
.friendsPeople {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.singleFriend {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  position: relative;
}
.singleFriend:not(:last-child) {
  border-bottom: 1px solid #dce1e6;
}

.singleFriendImg {
  width: 80px;
  height: 80px;
  background-color: blue;
  border-radius: 50%;
  margin-right: 15px;
}
.singleFriendAbout {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  padding: 5px 10px 0 0;
  width: 400px;
}
.singleFriendAbout > b {
  color: #2a5885;
  margin-bottom: 9px;
}
.singleFriendInfoText {
  color: #626d7a;
  margin-bottom: 9px;
}
.writeMessage {
  color: #2a5885;
}
.singleFriendMore {
  justify-self: flex-end;
}

.singleFriendMoreContainer {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  right: -30px;
  top: 50px;
  z-index: 7;
  padding: 6px 0;
  min-width: max-content;
  overflow: hidden;
  width: 200px;
}
.singleFriendMoreOption {
  white-space: nowrap;
  color: var(--text_primary);
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: start;
  min-width: max-content;
  width: 100%;
}
.singleFriendMoreOption:hover {
  background-color: rgba(174, 183, 194, 0.12);
  cursor: pointer;
}
.singleFriendMoreOption > p {
  padding: 0 15px;
  font-size: 13px;
}
